<div>
    <table>
        <tr>
            <th></th>
            <th>From</th>
            <th>To</th>
        </tr>
        <tr>
            <th>Country</th>
            <td>{{ portDetail.selectedCountryFrom}}</td>
            <td>{{ portDetail.selectedCountryTo}}</td>
        </tr>
        <tr>
            <th>Port</th>
            <td>{{ portDetail.selectedFromPort}}</td>
            <td>{{ portDetail.selectedToPort}}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ portDetail.fromDate}}</td>
            <td>{{ portDetail.toDate}}</td>
        </tr>
    </table>
    <button (click)="sendChild()">clickEvent</button>
</div>