<div>
<table>
    <tr>
        <th>ID</th>
        <th>FromCountry</th>
        <th>FromPort</th>
        <th>FromDate</th>
        <th>ToCountry</th>
        <th>ToPort</th>
        <th>ToDate</th>
    </tr>
    <tr  *ngFor="let item of data">
        <td>{{ item.id }}</td>
        <td>{{ item.selectedCountryFrom }}</td>
        <td>{{ item.selectedFromPort }}</td>
        <td>{{ item.fromDate }}</td>
        <td>{{ item.selectedCountryTo }}</td>
        <td>{{ item.selectedToPort }}</td>
        <td>{{ item.toDate }}</td>
    </tr>
</table>
</div>