div{
    margin: auto;
    margin-top: 3em;
    
}
table{
margin: 3em;
border: 1px solid black;
background: linear-gradient(110deg,rgb(61, 61, 153) 30%, rgb(109, 109, 189) 70%);

}
tr{
    border-bottom: 2px solid black;
}
th,td{
    padding: 2em;
    font-size: large;
}